.container {
  max-width: 1420px;
  margin: 0 auto;
  border: 1px solid red;
  height: 50px;
}

header, footer {
  height: 100px;
  width: 100%;
  border: 1px solid blue;
  margin-bottom: 50px
}
.first-content {
  height: 300px;
  width: 100%;
  border: 1px solid green;
  margin-bottom: 50px;
}

main {
  height: 500px;
  width: 100%;
  border: 1px solid green;
  margin-bottom: 50px;
}

.top-main-block {
  height: 100px;
  width: 100%;
  background-color: #E57AE6;
  margin-bottom: 30px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  float: left;
  width: 20%;
  background-color: #E57AE6;
  height: 100px;
  margin-right: 5%;
  height: 350px;
}
